.MMM-DarkSkyForecast * {
  box-sizing: border-box;
}

.MMM-DarkSkyForecast .module-content {
  width: 300px;
}

.MMM-DarkSkyForecast .forecast-container .forecast-item .temperature,
.MMM-DarkSkyForecast .forecast-container .forecast-item .temperature-container {
  color: #FFFFFF;
}

.MMM-DarkSkyForecast .temperature .low-temperature,
.MMM-DarkSkyForecast .temperature-container .low-temperature {
  color: #AAA;
}

.MMM-DarkSkyForecast .wrapper.colored .temperature .high-temperature,
.MMM-DarkSkyForecast .wrapper.colored .temperature-container .high-temperature {
  color: #F8DD70;
}

.MMM-DarkSkyForecast .wrapper.colored .temperature .low-temperature,
.MMM-DarkSkyForecast .wrapper.colored .temperature-container .low-temperature {
  color: #6FC4F5;
}

.MMM-DarkSkyForecast .accumulation:before {
  content: " ";
}

.MMM-DarkSkyForecast .attribution {
  font-size: 10px;
  line-height: 16px;
  color: #333;
  text-align: right;
}

/* Current Conditions */

.MMM-DarkSkyForecast .current-conditions-wrapper .current.temperature {
  line-height: 80px;
  vertical-align: middle;
}

.MMM-DarkSkyForecast .current-conditions-wrapper .icon {
  vertical-align: middle;
  line-height: 80px;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
}

.MMM-DarkSkyForecast .extra-current-conditions-wrapper {
  display: block;
  /*text-align: left;*/
  /*background-color: #333;*/
  word-wrap: normal;
  margin: 0 -15px;
}


/* Inline icons */
.MMM-DarkSkyForecast .inline-icon,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .inline-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 0px;
  vertical-align: bottom;
  position: relative;
}


/* Extra Current Conditions */

.MMM-DarkSkyForecast .extra-current-conditions-wrapper .temperature-container,
.MMM-DarkSkyForecast .extra-current-conditions-wrapper .precipitation-container,
.MMM-DarkSkyForecast .extra-current-conditions-wrapper .wind-container {
  display: inline-block;
  white-space: nowrap;
  margin:0 15px;
  margin-bottom: 10px;
}

/* Summary */

.MMM-DarkSkyForecast .summary {
  margin: 15px 0;
}


/* Forecast Header */

.MMM-DarkSkyForecast .module-header.forecast-header {
  margin-top: 20px;
  margin-bottom: 0;
}

/* ------------ Forecast ------------ */

/* Tiled Layout */

.MMM-DarkSkyForecast .wrapper.tiled .forecast-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0 30px;
  border-top: solid 1px #222;
}

.MMM-DarkSkyForecast .wrapper.with-forecast-header.tiled .forecast-container {
  border-top: none;
}

.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 100px;
  padding: 10px 5px 10px 5px;
  border-bottom: solid 1px #222;
}


.MMM-DarkSkyForecast .wrapper.tiled .forecast-container * {
  text-align: center;
}

.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .time,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .forecast-icon-container,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .forecast-icon,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .temperature,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .temperature-container,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .precipitation-container,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .wind-container,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .day-name {
  display: block;
  margin: auto;
}

.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .forecast-icon {
  width: 70px;
  height: 70px;
  margin: 4px auto;
}

.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .time,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .day-name {
  font-size: 17px;
  text-transform: uppercase;
}


.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .wind-speed,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .wind-gusts {
  display: inline-block;
  white-space: nowrap;
}

.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .wind-gusts {
  display: block;
}


.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .temperature,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .temperature-container {
  font-size: 22px;
  padding: 4px 0;
}


.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .precipitation-container,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .wind-container {
  font-size: 17px;
  line-height: 1.5;
}

/* ------------ Table Layout ------------ */

.MMM-DarkSkyForecast .wrapper.table .forecast-container {
  display: table;
  border-collapse: collapse;
  width: 100%;
  font-size: 17px;
  line-height: 1;
  border-bottom: solid 1px #222;
}

.MMM-DarkSkyForecast .wrapper.table .forecast-container .forecast-item,
.MMM-DarkSkyForecast .wrapper.table .forecast-container .header-row {
  display: table-row;
  border-top: solid 1px #222;
}

.MMM-DarkSkyForecast .wrapper.with-forecast-header.table .forecast-container > div:first-child,
.MMM-DarkSkyForecast .wrapper.table .forecast-container .header-row {
  border-top: none;
}

.MMM-DarkSkyForecast .wrapper.table .forecast-container .header-row .date-time-header {
  text-align: left;
  overflow: visible;
}

.MMM-DarkSkyForecast .wrapper.table .forecast-container .forecast-item > span,
.MMM-DarkSkyForecast .wrapper.table .forecast-container .header-row > span {
  display: table-cell;
  font-size: 17px;
  text-align: center;
  vertical-align: middle;
  height: 40px;
}



.MMM-DarkSkyForecast .wrapper.table .forecast-container .header-row > span {
  height: 32px;
  font-size: 14px;
  text-transform: uppercase;
  vertical-align: bottom;
  padding-bottom: 2px;
}


.MMM-DarkSkyForecast .wrapper.table .forecast-container .forecast-item > span:first-child {
  text-align: left;
}
.MMM-DarkSkyForecast .wrapper.table .forecast-container .forecast-item > span:last-child {
  text-align: right;
}

.MMM-DarkSkyForecast .wrapper.table .forecast-container .forecast-item .forecast-icon {
  width: 30px;
  height: 30px;
  display: block;
  vertical-align: middle;
}

.MMM-DarkSkyForecast .wrapper.table .forecast-container .forecast-item .time,
.MMM-DarkSkyForecast .wrapper.table .forecast-container .forecast-item  .high-temperature,
.MMM-DarkSkyForecast .wrapper.table .forecast-container .forecast-item .low-temperature, {
  white-space: nowrap;
}

.MMM-DarkSkyForecast .wrapper.table .forecast-container .forecast-item .wind-gusts,
.MMM-DarkSkyForecast .wrapper.table .forecast-container .forecast-item .accumulation {
  display: block;
  white-space: nowrap;
}



