.MMM-DarkSkyForecast * {
  box-sizing: border-box;
}

.MMM-DarkSkyForecast .temperature .low-temperature,
.MMM-DarkSkyForecast .temperature-container .low-temperature {
  color: #AAA;
}

.MMM-DarkSkyForecast .wrapper.colored .temperature .high-temperature,
.MMM-DarkSkyForecast .wrapper.colored .temperature-container .high-temperature {
  color: #F8DD70;
}

.MMM-DarkSkyForecast .wrapper.colored .temperature .low-temperature,
.MMM-DarkSkyForecast .wrapper.colored .temperature-container .low-temperature {
  color: #6FC4F5;
}


/* Current Conditions */

.MMM-DarkSkyForecast .current-conditions-wrapper .current.temperature {
  line-height: 80px;
  vertical-align: middle;
}

.MMM-DarkSkyForecast .current-conditions-wrapper .icon {
  vertical-align: middle;
  line-height: 80px;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  display: inline-block;
  position: relative;
}

.MMM-DarkSkyForecast .extra-current-conditions-wrapper {
  display: block;
  /*text-align: left;*/
  /*background-color: #333;*/
  word-wrap: normal;
  margin: 0 -15px;
}


/* Inline icons */
.MMM-DarkSkyForecast .icon.inline,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .icon.inline {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 0px;
  vertical-align: bottom;
  position: relative;
}

/*.MMM-DarkSkyForecast .wrapper:not(.colored) .icon.inline {
  opacity: 0.75;
}

.MMM-DarkSkyForecast .icon.inline.wind-icon {
  width: 28px;
  height: 28px;
  margin-right: 0px;
  bottom: -2px;
}

.MMM-DarkSkyForecast .wrapper.icon-set-3 .icon.inline,
.MMM-DarkSkyForecast .wrapper.icon-set-4 .icon.inline {
  width: 24px;
  height: 24px;
  margin-right: 1px;
}

.MMM-DarkSkyForecast .wrapper.icon-set-3 .icon.inline.umbrella,
.MMM-DarkSkyForecast .wrapper.icon-set-4 .icon.inline.umbrella {
  width: 24px;
  height: 24px;
  margin-right: -3px;
}

.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .icon.inline
 {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  vertical-align: bottom;
  position: relative;
  bottom: 2px;
}

.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .icon.inline.wind-icon
 {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 0px;
  bottom: 0px;
}

.MMM-DarkSkyForecast .wrapper.tiled.icon-set-3 .forecast-container .forecast-item .icon.inline,
.MMM-DarkSkyForecast .wrapper.tiled.icon-set-4 .forecast-container .forecast-item .icon.inline {
  width: 24px;
  height: 24px;
  margin-right: 0px;  
}

.MMM-DarkSkyForecast .wrapper.tiled.icon-set-3 .forecast-container .forecast-item .icon.inlineumbrella,
.MMM-DarkSkyForecast .wrapper.tiled.icon-set-4 .forecast-container .forecast-item .icon.inline.umbrella {
  width: 24px;
  height: 24px;
  margin-right: -2px;  
}*/


/* Extra Current Conditions */

.MMM-DarkSkyForecast .extra-current-conditions-wrapper .temperature-container,
.MMM-DarkSkyForecast .extra-current-conditions-wrapper .precipitation,
.MMM-DarkSkyForecast .extra-current-conditions-wrapper .wind {
  display: inline-block;
  white-space: nowrap;
  margin:0 15px;
}

/* Summary */

.MMM-DarkSkyForecast .summary {
  margin: 15px 0;
}


/* Forecast */

.MMM-DarkSkyForecast .wrapper.tiled .forecast-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0 30px;
  border-top: solid 1px #222;
}

.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 100px;
  padding: 10px 5px 10px 5px;
  border-bottom: solid 1px #222;
}

.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .icon {
  width: 70px;
  height: 70px;
}

.MMM-DarkSkyForecast .wrapper.tiled .forecast-container * {
  text-align: center;
}

.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .time,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .icon,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .temperature,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .temperature-container,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .precipitation-container,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .wind-container,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .day-name {
  display: block;
  margin: auto;
}

.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .time,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .day-name {
  font-size: 17px;
  text-transform: uppercase;
}


.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .wind-speed,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .wind-gusts {
  display: inline-block;
  white-space: nowrap;
}

.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .wind-gusts {
  display: block;
}


.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .temperature,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .temperature-container {
  font-size: 22px;
  color: #FFF;
  padding: 4px 0;
}


.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .precipitation-container,
.MMM-DarkSkyForecast .wrapper.tiled .forecast-container .forecast-item .wind-container {
  font-size: 17px;
  line-height: 1.5;
}

